extends ../../../templates/users/default

block content


  section.environmentUsers

      
    h2.titleBoxStart= restricted_product.nombre
    
    div.box_mrg
      form#msform(action='/Dintair/restricted/put/#{restricted_product._id}?_method=put', method='post', name='formu', enctype='multipart/form-data')
        // progressbar
        ul#progressbar
          li.active.restricted
          li.restricted
          li.restricted 
          
          
        // fieldsets
        
        fieldset
          h2.fs-title Información general
         
          img.icon(src='/images/icons/prodName.png')  
          h4 Nombre del producto
          #error_nombre.error_nombre
          input(type='text', name='nombre', id='nombre', value="#{restricted_product.nombre}", data-error-id="error_nombre")
          

          img.icon(src='/images/icons/descriptionProd.png')
          h4 Selecciona el estado del producto
          .radio-group
            if restricted_product.iam == "Prohibido"
              input(type='radio', name='iam', id='prohibido', value='Prohibido', checked)
              label(for='prohibido') Prohibido
            else
              input(type='radio', name='iam', id='prohibido', value='Prohibido')
              label(for='prohibido') Prohibido

            if restricted_product.iam == "Restringido"
              input(type='radio', name='iam', id='restringido', value='Restringido', checked)
              label(for='restringido') Restringido
            else
              input(type='radio', name='iam', id='restringido', value='Restringido')
              label(for='restringido') Restringido

            if restricted_product.iam == "Sin restricción"
              input(type='radio', name='iam', id='sin_restriccion', value='Sin restricción', checked)
              label(for='sin_restriccion') Sin restricción
            else
              input(type='radio', name='iam', id='sin_restriccion', value='Sin restricción')
              label(for='sin_restriccion') Sin restricción
          


          img.icon(src='/images/icons/greenCloud.png')  
          h4 Link de referencia
          #error_link.error_link
          input(type='text', name='link', id='link', required="", value="#{restricted_product.link}", data-error-id="error_link")



          img.icon_aero(src='/images/icons/aeropost.jpg')  
          h4 Link hacia Aeropost
          #error_aeropost_link.error_aeropost_link
          if restricted_product.aeropost_link == undefined
            input(type='text', name='aeropost_link', id='aeropost_link', data-error-id="error_aeropost_link")
          else
            input(type='text', name='aeropost_link', id='aeropost_link', value="#{restricted_product.aeropost_link}", data-error-id="error_aeropost_link")


          input.id(type='hidden', id='id', name='id', value='#{user._id}')
      

          input.next.action-button(type='button', name='Continuar', value='Continuar', id='btn_next')


        fieldset
          h2.fs-title Entidades y documentación
          
          img.icon(src='/images/icons/toolsProd.png') 
          h4 Selecciona la entidad reguladora
          #error_entidad.error_entidad
          select#editable-select1.entidad(name='entidad', style="width:100%;padding:8px;margin-bottom:15px;border:1px solid #ccc;", onchange='cambia();', data-error-id="error_entidad")
            option(value="") Selecciona una entidad
            option(value='PRODUCE', selected=restricted_product.entidad=="PRODUCE") Ministerio de la Producción (PRODUCE)
            option(value='MINAGRI', selected=restricted_product.entidad=="MINAGRI") Ministerio de Agricultura (MINAGRI)
            option(value='MININTER', selected=restricted_product.entidad=="MININTER") Ministerio del Interior (MININTER)
            option(value='MRREE', selected=restricted_product.entidad=="MRREE") Ministerio de Relaciones Exteriores (MRREE)
            option(value="MINSA", selected=restricted_product.entidad=="MINSA") Ministerio de Salud (MINSA)
            option(value="MTC", selected=restricted_product.entidad=="MTC") Ministerio de Transporte y Comunicaciones (MTC)


          img.icon(src='/images/icons/colorsProds.png') 
          h4 Permiso y documentación
          #error_documents.error_documents
          select#editable-select2.entidad.documents(name='documents', style="width:100%;padding:8px;margin-bottom:15px;border:1px solid #ccc;", data-error-id="error_documents")
            option(value='')

            //PRODUCE
            option(value="Certificado sanitario expedido por la autoridad competente del país de origen", selected=restricted_product.documents=="Certificado sanitario expedido por la autoridad competente del país de origen") Certificado sanitario expedido por la autoridad competente del país de origen
            option(value="Certificado de Procedencia del Ministerio de Pesquería o Direcciones Regionales", selected=restricted_product.documents=="Certificado de Procedencia del Ministerio de Pesquería o Direcciones Regionales") Certificado de Procedencia del Ministerio de Pesquería o Direcciones Regionales
            option(value="Permiso de Importación de OTO / PERU", selected=restricted_product.documents=="Permiso de Importación de OTO / PERU") Permiso de Importación de OTO / PERU
            option(value="Certificado de Conformidad, Constancia de Cumplimiento", selected=restricted_product.documents=="Certificado de Conformidad, Constancia de Cumplimiento") Certificado de Conformidad, Constancia de Cumplimiento
            option(value="DGAAI-PRODUCE (SAO)", selected=restricted_product.documents=="DGAAI-PRODUCE (SAO)") DGAAI-PRODUCE (SAO)


            //MINAGRI
            option(value="Permiso fitosanitario de Importación del SENASA", selected=restricted_product.documents=="Permiso fitosanitario de Importación del SENASA") Permiso fitosanitario de Importación del SENASA
            option(value="Permiso zoosanitario de Importación del SENASA", selected=restricted_product.documents=="Permiso zoosanitario de Importación del SENASA") Permiso zoosanitario de Importación del SENASA
            option(value="Certificado de Internamiento de SENASA", selected=restricted_product.documents=="Certificado de Internamiento de SENASA") Certificado de Internamiento de SENASA
            option(value="Certificado de análisis SENASA", selected=restricted_product.documents=="Certificado de análisis SENASA") Certificado de análisis SENASA
            option(value="Certificado fito o zoosanitario del país de origen SENASA", selected=restricted_product.documents=="Certificado fito o zoosanitario del país de origen SENASA") Certificado fito o zoosanitario del país de origen SENASA
            option(value="Permiso de SENASA", selected=restricted_product.documents=="Permiso de SENASA") Permiso de SENASA



            //MININTER
            option(value="Permiso emitido por SUCAMEC", selected=restricted_product.documents=="Permiso emitido por SUCAMEC") Permiso emitido por SUCAMEC
            option(value="Autorización de importación de productos pirotécnicos y materiales relacionados", selected=restricted_product.documents=="Autorización de importación de productos pirotécnicos y materiales relacionados") Autorización de importación de productos pirotécnicos y materiales relacionados


            //MRREE
            option(value="Resolución Directoral emitida por el MRREE", selected=restricted_product.documents=="Resolución Directoral emitida por el MRREE") Resolución Directoral emitida por el MRREE

            //MINSA
            option(value="DIGEMID - Necesita registro y/o receta médica visada", selected=restricted_product.documents=="DIGEMID - Necesita registro y/o receta médica visada") DIGEMID - Necesita registro y/o receta médica visada
            option(value="Permiso emitido por DIGEMID", selected=restricted_product.documents=="Permiso emitido por DIGEMID") Permiso emitido por DIGEMID
            option(value="Permiso emitido por DIGESA", selected=restricted_product.documents=="Permiso emitido por DIGESA") Permiso emitido por DIGESA

            //MTC
            option(value="Permiso de Internamiento", selected=restricted_product.documents=="Permiso de Internamiento") Permiso de Internamiento
            option(value="Requiere ser homologado", selected=restricted_product.documents=="Requiere ser homologado") Requiere ser homologado
            

          img.icon(src='/images/icons/listBook.png')  
          h4 TUPA (Encontrado en VUCE)
          #error_tupa_permiso.error_tupa_permiso
          if restricted_product.tupa_permiso == undefined
            input(type='text', name='tupa_permiso', id='tupa_permiso', data-error-id="error_tupa_permiso", placeholder="Ejm: 118")
          else
            input(type='text', name='tupa_permiso', id='tupa_permiso', data-error-id="error_tupa_permiso", placeholder="Ejm: 9015.80.10.00", value="#{restricted_product.tupa_permiso}")
          

          img.icon(src='/images/icons/listBook.png')  
          h4 Precio del trámite (S/)
          #error_precio_permiso.error_precio_permiso
          if restricted_product.precio_permiso == undefined
            input(type='text', name='precio_permiso', id='precio_permiso', data-error-id="error_precio_permiso", placeholder="Ejm: 14.07% de la UIT")
          else
            input(type='text', name='precio_permiso', id='precio_permiso', data-error-id="error_precio_permiso", placeholder="Ejm: 9015.80.10.00", value="#{restricted_product.precio_permiso}")

          img.icon(src='/images/icons/listBook.png')  
          h4 Url del trámite en VUCE
          #error_url_tramite.error_url_tramite
          if restricted_product.url_tramite == undefined
            input(type='text', name='url_tramite', id='url_tramite', data-error-id="error_url_tramite")
          else
            input(type='text', name='url_tramite', id='url_tramite', data-error-id="error_url_tramite", value="#{restricted_product.url_tramite}")

          img.icon(src='/images/icons/listBook.png')  
          h4 Subpartida nacional (Opcional)
          #error_subpartida.error_subpartida
          input(type='text', name='subpartida', id='subpartida', data-error-id="error_subpartida", placeholder="Ejm: 9015.80.10.00", value="#{restricted_product.subpartida}")


          img.icon(src='/images/icons/descriptionProd.png')  
          h4 Comentario adicional (Opcional)
          #error_comentario.error_comentario
          textarea(name='comentario', id='comentario', data-error-id="error_comentario", placeholder="Ejm: Se puede traer Máximo 5 unidades para uso personal o privado.")= restricted_product.comentario
          
          

          input.previous.action-button(type='button', name='Anterior', value='Anterior')
          input.next.action-button(type='button', name='Continuar', value='Continuar')


        fieldset
          h2.fs-title Agrega una imagen referencial (opcional)

          section(class="content-photo", style="width:100%;", id='sectionCONT')
            div(id='list', name='list')
              img(src='/images/icons/img_Servicios.png', id='btnFhoto')
              input(type='file', id='btnFiles', name='imgProducto', multiple )
              input(type='hidden' name='fileOld' id='fileOld' value='#{restricted_product.imgProductos}')
              input(type='hidden' name='newFile' id='newFile' value='')

            section#ct-items()
              for item in restricted_product.files
                article
                  span(data-img='#{item}') x
                  img(src='#{item}')

            img.spiral(src='/images/gif/spiral.gif', id='loaderImg', name='loaderImg', style="display:none;margin:0 auto; text-align:center;")

          input.previous.action-button(type='button', name='Anterior', value='Anterior')
          input.submit.action-button(type='submit', name='submit', value='Actualizar producto', id='btnSend')



    script(src='/javascripts/productsAndServices/catch_coin_products.js')
    script.
        $('#editable-select').editableSelect({
        effects: 'slide',
        duration: 80,
        appendTo: 'body'
        });

    script(src='/javascripts/productsAndServices/script1.js')
    script(src='/javascripts/importExport/import/documents.js')
    script(src='/javascripts/importExport/import/script.js')
    script(src='/javascripts/importExport/import/validateMulti.js')

//-   script(src='/javascripts/catch_coin_products.js')
//-   //script(src='/javascripts/previewImages/previewProducts.js')
//-   script.
//-     $('#editable-select').editableSelect({
//-       effects: 'slide',
//-       duration: 80,
//-       appendTo: 'body'
//-     });

//-   script(src='/javascripts/aeropost/select_documents.js')

//-   script(src='/javascripts/dynamicForms/script.js')
//-   script(src='/javascripts/dynamicForms/script1.js')
//-   script(src='/javascripts/aeropost/script.js')
//-   script(src='/javascripts/aeropost/validateMulti.js')

//-   script(src='/javascripts/focuses/create_product.js')