extends ../../templates/users/default

block content
  section.environmentUsersProds

    div.box_prods_vista
      div.box_by_flex
        div.box_prods_vista_1
          div.views_number

          div.leftBOX
            #myCarousel.carousel.slide
              .carousel-inner
                each item, index in productos_user.files
                  if index == 0
                    .active.item(data-slide-number=index)
                      .ctn-img
                        img.img-fluid(src='#{item}')
                  else 
                    .item(data-slide-number=index)
                      .ctn-img
                        img.img-fluid(src='#{item}')

                a.carousel-control.left.pt-3(href='#myCarousel', data-slide='prev')
                  i.fa.fa-chevron-left
                a.carousel-control.right.pt-3(href='#myCarousel', data-slide='next')
                  i.fa.fa-chevron-right
              
              ul.carousel-indicators.list-inline
                each item, index in productos_user.files
                  if index == 0
                    li.list-inline-item.active
                      a#carousel-selector-0.selected(data-slide-to=index, data-target='#myCarousel')
                        img.img-fluid(src='#{item}')
                  else 
                    li.list-inline-item
                      a#carousel-selector-0.selected(data-slide-to=index, data-target='#myCarousel')
                        img.img-fluid(src='#{item}')

          div.description
            h2.name_prod= productos_user.nombre

            div.precio
              if productos_user.moneda == 'Contactar al Representante'
                div.weightTotal
                  h5 Precio
                  p.itemDe Contactar al Representante
              else
                if productos_user.precio
                  h2= productos_user.moneda +' '+ productos_user.precio
                else

            h3 Descripción
            - var gdescript = productos_user.descripcion.split("\n")
            for itemdescript in gdescript
              p.text #{itemdescript}

        div.box_prods_vista_2
          h2.title_second_p Información adicional
          
          if productos_user.stock == ''
          else
            div.stock
              p.titles Stock disponible
              h2= productos_user.stock +' '+ productos_user.tipo_unidades

          if productos_user.peso == ''
          else
            div.peso
              p.titles Peso unitario
              h2= productos_user.peso +' '+ productos_user.medida


          if productos_user.precio_min == null | productos_user.cantidad_min == null
          else
            div.almayor
              h2.title Venta al por mayor
              div.leftright
                div.precio
                  p.titles Precio mínimo
                  h2.result= productos_user.moneda +' '+productos_user.precio_min
                div.cantidad
                  p.titles Cantidad mínima
                  h2.result= productos_user.cantidad_min+' '+productos_user.medida





          div.opcionales
            if productos_user.color || productos_user.dimensiones || productos_user.material
              div.ProdsMayor.right
                div.titleBox
                  h5.text Variantes opcionales
                div.flexBox
                  if productos_user.color
                    div.options
                      h5 Colores
                      p= productos_user.color
                  else
                  if productos_user.dimensiones
                    div.options
                      h5.titles Dimensiones
                      p= productos_user.dimensiones
                  else
                  if productos_user.material
                    div.options
                      h5.titles Material
                      p= productos_user.material
                  else
            else
              div.ProdsMayor.right
                div.titleBox
                  h5.text Variantes opcionales
                div.flexBox
                  div.options
                    p No hay variantes opcionales









    div.optionsUpDe
      div.update
        a(href='/Dintair/products/edit/#{productos_user._id}')
          button() Editar producto

      div.delete
        form(action='/Dintair/products/view/delete/#{productos_user._id}/#{productos_user.nombre}?_method=PUT', method='post')
          input.btn_delete(type='submit', value='Eliminar producto', id='btn_delete_add')




  script(src='/javascripts/productsAndServices/alert_products.js')
  script(src='/javascripts/productsAndServices/viewProductsImages.js')

  //script(src='/javascripts/zoomImages/main.js')
  //script.
    magnify("myimage", 1.5);