extends ../../templates/users/default

block content

  section.environmentUsers

    h2.titleBoxStart Editar servicio
    div.box_mrg
      form#msform(action='/Dintair/services/addmultiple/#{data_serv.id}?_method=put', method='post', name='formu', enctype='multipart/form-data')
        // progressbar
        ul.progressService#progressbarServ
          li.active
          li 
          li 
          li
          li
        // fieldsets
        fieldset
          h2.fs-title Mercado meta

          h4 Selecciona a qué rubro quisieras dirigir este servicio

          #error_rubro.error_rubro
          select#editable-select.targetsell(name='targetsell', data-error-id="error_rubro")

            //Nueva lista
            option(value='A todos los rubros', selected=data_serv.targetsell=='A todos los rubros') A todos los rubros
            option(value='Actividades Deportivas y Fitness', selected=data_serv.targetsell=='Actividades Deportivas y Fitness') Actividades Deportivas y Fitness
            option(value='Alimentos y Bebidas', selected=data_serv.targetsell=='Alimentos y Bebidas') Alimentos y Bebidas
            option(value='Arte, Cultura y Creatividad', selected=data_serv.targetsell=='Arte, Cultura y Creatividad') Arte, Cultura y Creatividad
            option(value='Diseño, Construcción e Ingeniería', selected=data_serv.targetsell=='Diseño, Construcción e Ingeniería') Diseño, Construcción e Ingeniería
            option(value='Fotografía y Audiovisuales', selected=data_serv.targetsell=='Fotografía y Audiovisuales') Fotografía y Audiovisuales
            option(value='Maquinaria, Equipo y Tecnología', selected=data_serv.targetsell=='Maquinaria, Equipo y Tecnología') Maquinaria, Equipo y Tecnología
            option(value='Medios, Entretenimiento y Publicaciones', selected=data_serv.targetsell=='Medios, Entretenimiento y Publicaciones') Medios, Entretenimiento y Publicaciones
            option(value='Productos de Belleza', selected=data_serv.targetsell=='Productos de Belleza') Productos de Belleza
            option(value='Ropa, Moda y Accesorios', selected=data_serv.targetsell=='Ropa, Moda y Accesorios') Ropa, Moda y Accesorios
            option(value='Servicios logísticos', selected=data_serv.targetsell=='Servicios logísticos') Servicios logísticos
            option(value='Servicios de marketing / agencia', selected=data_serv.targetsell=='Servicios de marketing / agencia') Servicios de marketing / agencia
            option(value='Tecnología de Información y Comunicaciones', selected=data_serv.targetsell=='Tecnología de Información y Comunicaciones') Tecnología de Información y Comunicaciones
            option(value='Tienda de Alimentos Naturales y Orgánicos', selected=data_serv.targetsell=='Tienda de Alimentos Naturales y Orgánicos') Tienda de Alimentos Naturales y Orgánicos
            
          

          script.
            $('#editable-select').editableSelect({
              effects: 'slide',
              duration: 80,
              appendTo: 'fieldset',
            });

            $('#editable-select1').editableSelect({
              effects: 'slide',
              duration: 80,
              appendTo: 'body'
            });
      
          input.next.action-button(type='button', name='Continuar', value='Continuar', id='btn_next')
        fieldset
          h2.fs-title Información general del servicio
         
          img.icon(src='/images/icons/prodName.png')  
          h4 Nombre del servicio
          #error_name_serv
          input(type='text', name='name_serv', id='name_serv', autocomplete='off', value='#{data_serv.name_serv}', data-error-id="error_name_serv")
          


          input.id(type='hidden', id='id', name='id', value='#{user._id}')

          img.icon(src='/images/icons/descriptionProd.png') 
          h4 Tipo de servicio (Ejemplos: Delivery; Análisis de información; Restaurante)
          #error_tipo_serv
          input(type='text', name='tipo_serv', id='tipo_serv', autocomplete='off', value='#{data_serv.tipo_serv}', data-error-id="error_tipo_serv")
          


          img.icon(src='/images/icons/LandProd.png') 
          h4 Descripción del servicio
          #error_desc_serv
          textarea(name='desc_serv', id="desc_serv", data-error-id="error_desc_serv")= data_serv.desc_serv
          

          input.previous.action-button(type='button', name='Anterior', value='Anterior')
          input.next.action-button(type='button', name='Continuar', value='Continuar', id='btn_next')


        fieldset
          h2.fs-title 
          
          img.icon(src='/images/icons/stockProd.png') 
          h4 Lugar de procedencia
          #error_origin_serv
          input(type='text', name='origin_serv', id='origin_serv', placeholder='Ejm: Lima', value='#{data_serv.origin_serv}', data-error-id="error_origin_serv")
          

          h4 Especialidades del servicio
          #error_especialidades_serv
          textarea(name='especialidades_serv', id='especialidades_serv', placeholder='¿En qué se especializa el servicio?', data-error-id="error_especialidades_serv")= data_serv.especialidades_serv
          




          input.previous.action-button(type='button', name='Anterior', value='Anterior')
          input.next.action-button(type='button', name='Continuar', value='Continuar')

        fieldset

          h2.fs-title Horarios de atención

          div.choose_time
            
            div.first.flex_b_t
              h2 Día y hora de apertura
              div.day
                
                select(name='dia_i', id='dia_i')
                  option(value='Lunes', selected=data_serv.dia_aper== 'Lunes') Lunes
                  option(value='Martes', selected=data_serv.dia_aper== 'Martes') Martes
                  option(value='Miércoles', selected=data_serv.dia_aper== 'Miércoles') Miércoles
                  option(value='Jueves', selected=data_serv.dia_aper== 'Jueves') Jueves
                  option(value='Viernes', selected=data_serv.dia_aper== 'Viernes') Viernes
                  option(value='Sábado', selected=data_serv.dia_aper== 'Sábado') Sábado
                  option(value='Domingo', selected=data_serv.dia_aper== 'Domingo') Domingo
                
                input.time(id='horainicio', name='horainicio', value='#{data_serv.hora_apertura}', data-error-id="error_horainicio")
                script.
                  $('#horainicio').timepicker()

              

            div.second.flex_b_t
              h2 Día y hora de cierre
              div.day
                select(name='dia_f', id='dia_f', data-error-id="error_dia_f")
                  option(value='Lunes', selected=data_serv.dia_cierr== 'Lunes') Lunes
                  option(value='Martes', selected=data_serv.dia_cierr== 'Martes') Martes
                  option(value='Miércoles', selected=data_serv.dia_cierr== 'Miércoles') Miércoles
                  option(value='Jueves', selected=data_serv.dia_cierr== 'Jueves') Jueves
                  option(value='Viernes', selected=data_serv.dia_cierr== 'Viernes') Viernes
                  option(value='Sábado', selected=data_serv.dia_cierr== 'Sábado') Sábado
                  option(value='Domingo', selected=data_serv.dia_cierr== 'Domingo') Domingo

                input.time(id='horafinal', name='horafinal', value='#{data_serv.hora_cierre}', data-error-id="error_horafinal")
                script.
                  $('#horafinal').timepicker()


          input.previous.action-button(type='button', name='Anterior', value='Anterior')
          input.next.action-button(type='button', name='Continuar', value='Continuar')

        fieldset
          h2.fs-title Agrega imágenes de tu servicio (máximo 4 imágenes)

          section(class="content-photo")
            div(id='list', name='list')
              img(src='/images/icons/img_Servicios.png', id='btnFhoto')
              input(type='file', id='btnFiles', name='imgProducto', multiple )
              input(type='hidden' name='fileOld' id='fileOld' value='#{data_serv.imageServicios}')
              input(type='hidden' name='newFile' id='newFile' value='')

              section#ct-items
                for item in data_serv.files
                  article
                    span(data-img='#{item}') x
                    img(src='#{item}')

            img.spiral(src='/images/gif/loader.gif', id='loaderImg', name='loaderImg', style="display:none;margin:0 auto; text-align:center;")

          input.previous.action-button(type='button', name='Anterior', value='Anterior')
          input.submit.action-button(type='submit', name='submit', value='Actualizar', id='btnSend')


    script(src='/javascripts/productsAndServices/services/stepsForm.js')
    script(src='/javascripts/productsAndServices/services/validateSteps.js')
    script(src='/javascripts/productsAndServices/script1.js')
    script(src='/javascripts/productsAndServices/inputFocus.js')
//-   script(src='/javascripts/dynamicForms/script.js')
//-   script(src='/javascripts/dynamicForms/script1.js')
  
//-   script(src='/javascripts/MultiStepForm/services/validateMulti.js')
//-   script(src='/javascripts/MultiStepForm/services/script.js')