extends ../../templates/users/default

block content

  section.environmentUsersRecommends

    if myproducts.length || myServices.length


      if myproducts.length && myServices.length
        div.backColor
          h3 Selecciona el producto o servicio que deseas vender
        div.ulList
          div.centerCo
            div.btnobjects1
              a(data-toggle="tab" href="#menu")
                button.productos(id='input1', onClick="asignarNota(1);", onmouseover="document.getElementById('input1').style.backgroundColor='#0066cc';", onmouseout="desmarcarNotas();") Mis productos

            div.btnobjects2
              a(data-toggle="tab" href="#menu1")
                button.servicios(id='input2', onClick="asignarNota(2);", onmouseover="document.getElementById('input2').style.backgroundColor='#0066cc';", onmouseout="desmarcarNotas();") Mis Servicios

        div.productosBox.tab-content
          div(id='menu', class='tab-pane fade in active')
            section.backProds
              div.titlePage
                
              div.imgText
                img.data(src='/images/icons/alMayorPord.png')
                h2.data Mis Productos

            section.boxesProds
              for productos_user in myproducts
                if productos_user.deleted == false

                  div.radioBtn.col-lg-4.col-md-6.col-sm-6.col-xs-12
                            
                    div.boxFDat()
                      a(href='/Dintair/dashboard/myBox/product/#{productos_user.id}')
                        
                        label.label(for='#{productos_user.nombre}')
                       
                          div.image
                            if productos_user.imgProductos
                              - file = productos_user.imgProductos.split('---')
                              img(src='#{file[0]}')

                          div.dataProd

                            div.prods
                              p.name()=productos_user.nombre
                              if productos_user.moneda == 'Contactar al Representante'
                                p.price Contactar para el precio
                              else
                                if productos_user.precio
                                  p.price=productos_user.moneda
                                  p.price= productos_user.precio
                                else

          div(id='menu1', class='tab-pane fade')
            section.backProds
              div.titlePage
                

              div.imgText
                img.data(src='/images/icons/truck_icon.png')
                h2.data Mis Servicios
            for data_serv in myServices
              if data_serv.deleted == false
                div.radioBtn.col-lg-4.col-md-6.col-sm-6.col-xs-12
                          
                  div.boxFDat()
                    a(href='/Dintair/dashboard/myBox/service/#{data_serv.id}')
                      
                      label.label
                     
                        div.image
                          if data_serv.imageServicios
                            - file = data_serv.imageServicios.split('---')
                            img(src='#{file[0]}')

                        div.dataProd

                          div.prods
                            p.name()=data_serv.name_serv
                            p.name= data_serv.tipo_serv
      else

      
        if myproducts.length
          div.backColorProd
            h3 Selecciona el producto que deseas vender
          div.ulList
            div.centerCoProd
              div.btnobjects1
                a(data-toggle="tab" href="#menu")
                  button.productos() Mis productos
          div.productosBox.tab-content
            div(id='menu', class='tab-pane fade in active')
              section.backProds
                div.titlePage


                div.imgText
                  img.data(src='/images/icons/alMayorProd.png')
                  h2.data Mis Productos

              section.boxesProds
                for productos_user in myproducts
                  if productos_user.deleted == false

                    div.radioBtn.col-lg-4.col-md-6.col-sm-6.col-xs-12
                              
                      div.boxFDat()
                        a(href='/Dintair/dashboard/myBox/product/#{productos_user.id}')
                          
                          label.label(for='#{productos_user.nombre}')
                         
                            div.image
                              if productos_user.imgProductos
                                - file = productos_user.imgProductos.split('---')
                                img(src='#{file[0]}')

                            div.dataProd

                              div.prods
                                p.name()=productos_user.nombre
                                if productos_user.moneda == 'Contactar al Representante'
                                  p.price Contactar para el precio
                                else
                                  if productos_user.precio
                                    p.price=productos_user.moneda
                                    p.price= productos_user.precio
                                  else
        else

          if myServices.length
            div.backColorServ
              h3 Selecciona el servicio que deseas vender
            div.ulList
              div.centerCoServ
                div.btnobjects1
                  a(data-toggle="tab" href="#menu2")
                    button.servicios() Mis Servicios
            div.productosBox.tab-content
              div(id='menu2', class='tab-pane fade in active')
                section.backProds
                  div.titlePage

                  div.imgText
                    img.data(src='/images/icons/truck_icon.png')
                    h2.data Mis Servicios
                for data_serv in myServices
                  if data_serv.deleted == false
                    div.radioBtn.col-lg-4.col-md-6.col-sm-6.col-xs-12
                              
                      div.boxFDat()
                        a(href='/Dintair/dashboard/myBox/service/#{data_serv.id}')
                          
                          label.label
                         
                            div.image
                              if data_serv.imageServicios
                                - file = data_serv.imageServicios.split('---')
                                img(src='#{file[0]}')

                            div.dataProd

                              div.prods
                                p.name()=data_serv.name_serv
                                p.name= data_serv.tipo_serv


          else
 
    else

      div.imgDefaultProdServ
        img(src='/images/users/default_images/defaultpicpordserv.png')

      p.textSP Agrega un producto o servicio para utilizar esta herramienta

      div.boxDefault
        a(href='/Dintair/products/add/Product')
          button.serv() Agregar producto

        a(href='/Dintair/services/add/Service')
          button.serv() Agregar servicio





  script(src='/javascripts/recommends/hidebuttons.js')